---
import { Button } from '../ui/button'
import { PROFILE } from "../../content/profileData";
import { Github, Linkedin, Mail, Instagram } from 'lucide-react'
---

<div class="flex h-full w-full animate-appear">
  <div class="flex flex-col justify-between gap-4 md:max-h-[300px]">
    <div class="flex h-full flex-col">
      <p class="m-0 text-xl font-light">
        Hi, I'm <b class="font-bold">{PROFILE.firstName}</b>.
      </p>
      <ul class="pt-4 space-y-1">
        {PROFILE.shortIntros.map((intro) => (
          <li>{intro}</li>
        ))}
      </ul>
    </div>
    <div class="flex gap-2">
      <a href={PROFILE.links.github} aria-label="GitHub profile" target="_blank" rel="noreferrer">
        <Button aria-label="GitHub profile">
          <Github/>
          <span class="sr-only">GitHub profile</span>
        </Button>
      </a>
      {PROFILE.links?.linkedin && (
        <a href={PROFILE.links.linkedin} aria-label="LinkedIn profile" target="_blank" rel="noreferrer">
          <Button aria-label="LinkedIn profile">
            <Linkedin/>
            <span class="sr-only">LinkedIn profile</span>
          </Button>
        </a>
      )}
      {PROFILE.links?.email && (
        <a href={PROFILE.links.email} aria-label="Email">
          <Button aria-label="Email">
            <Mail/>
            <span class="sr-only">Email</span>
          </Button>
        </a>
      )}
      {PROFILE.links?.instagram && (
        <a href={PROFILE.links.instagram} aria-label="Instagram profile" target="_blank" rel="noreferrer">
          <Button aria-label="Instagram profile">
            <Instagram/>
            <span class="sr-only">Instagram profile</span>
          </Button>
        </a>
      )}
    </div>
  </div>
  <img
    src={PROFILE.avatarUrl}
    class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[256px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
    width="100%"
    height="auto"
    alt={`image of ${PROFILE.name}`}
  />
</div>
